.container{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.right{
    width: 30%;
}

.center{
    width: 50%;
}

.left{
    width: 20%;
}

img{
    height: 200px;
    width: 200px;
}

.form-label{
    font-size: 20px;
}

.form-label-title{
    font-size: 25px;
}

p{
    font-size: 20px;
}