<div class="dropdown-container">
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/379432_online_shopping_icon.png" height="60" width="60" class="logo" class="rounded-pill">&nbsp;&nbsp;Web shop
        </a>
      <!--<a class="navbar-brand" href="#">&nbsp;&nbsp;Web shop</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        &nbsp;&nbsp;
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button *ngIf="isLoggedIn()" type="button" mat-raised-button style="background-color: rgb(52,188,164)" routerLink="/info" >Vas profil</button>
        </ul>
        <button *ngIf="!isLoggedIn()" type="button" mat-raised-button style="background-color: rgb(52,188,164)" routerLink="/register">Registracija</button>
        &nbsp;&nbsp;
        <button *ngIf="!isLoggedIn()" type="button" mat-raised-button style="background-color: rgb(52,188,164)" routerLink="/login">Prijava</button>
        
        
        <button *ngIf="isLoggedIn()" type="button" mat-raised-button style="background-color: rgb(52,188,164)" routerLink="/custommer-service" >Korisnicka podrska</button>
        &nbsp;&nbsp;
        <div>
          <button *ngIf="isLoggedIn()" type="button" mat-raised-button color="warn" (click) = "logout()" >Odjava</button>
        </div>
      </div>
    </div>
  </nav>
  